name: Test Report Generation

on:
  push:
    branches: [ main1, master ]
  pull_request:
    branches: [ main1, master ]
  workflow_dispatch:

jobs:
  test-and-report:
    runs-on: self-hosted
    permissions:
      contents: read
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Run Install-DeIdentification script
        run: |
          pwsh -File ./Install-DeIdentification.ps1
